{% extends "base.html" %}


{% block content %}
<div class="card-header">
    <h1>Вход в систему</h1>
</div>
<div class="module card-body">
    {% if form.errors %}
    <p>Неверный логин или пароль, попробуйте ещё раз.</p>
    {% else %}
    <p>Пожалуйтса, введите свои логин и пароль</p>
    {% endif %}
    <div class="login-form mb-3">
        <form action="{% url 'login' %}" method="post">
            <div class="col-auto">

                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" class="form-control" name="next" value="{{ next }}"/>
                <p><input class="btn btn-dark" class="form-control" type="submit" value="Войти"></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}