{% extends "base.html" %}

{% block content %}
<div style="padding:20px;">

    <div class="card mt-5">
        <div class="card-header">
            <h1>Профиль пользователя</h1>
        </div>
        <div class="card-body">
            <p><strong>Имя пользователя:</strong> {{ user.username }}</p>

            <a href="/" type="button" class="btn btn-dark" style="width:500px; height:30px; margin-bottom: 10px;">На обзорную
                страницу</a>


            <form id="logoutForm" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" style="width:500px; height:30px;" class="btn btn-danger">Выход</button>
            </form>


        </div>

    </div>

</div>
{% endblock %}