<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Выберете тест:</title>-->
<!--    <script src="https://unpkg.com/htmx.org@1.9.10"></script>-->

<!--    <style>-->
<!--        body {-->
<!--          font-family: 'Arial', sans-serif;-->
<!--          background-color: #f0f0f0;-->
<!--          color: #333;-->
<!--          line-height: 1.6;-->
<!--          padding: 20px;-->
<!--        }-->

<!--        #topic-container {-->
<!--          background-color: #fff;-->
<!--          padding: 20px;-->
<!--          border-radius: 8px;-->
<!--          box-shadow: 0 2px 4px rgba(0,0,0,0.1);-->
<!--          margin: auto;-->
<!--          width: 50%;-->
<!--        }-->

<!--        #topic-list {-->
<!--          justify-content: center;-->
<!--          display: flex;-->
<!--          flex-direction: column;-->
<!--          align-items: center;-->
<!--          padding: 20px;-->
<!--        }-->

<!--        #question-form {-->
<!--          padding: 20px;-->
<!--        }-->

<!--        .option{-->
<!--          border-radius: 10px;-->
<!--        }-->

<!--        .option input[type="radio"] {-->
<!--          display: none; /* Hide the radio button */-->
<!--        }-->

<!--        .option label {-->
<!--          display: block;-->
<!--          padding: 10px 20px;-->
<!--          background-color: #eeeeee;-->
<!--          border-radius: 5px;-->
<!--          margin: 5px 0;-->
<!--          cursor: pointer;-->
<!--          transition: background-color 0.3s;-->
<!--        }-->

<!--        .option label:hover {-->
<!--          background-color: #c9c9c9;-->
<!--        }-->

<!--        .option input[type="radio"]:checked + label {-->
<!--          background-color: #818181;-->
<!--          color: #fff;-->
<!--        }-->

<!--        #heading-text {-->
<!--          text-align: center;-->
<!--        }-->

<!--        .btn {-->
<!--          background-color: #007bff;-->
<!--          color: #fff;-->
<!--          border: none;-->
<!--          padding: 10px 20px;-->
<!--          border-radius: 5px;-->
<!--          cursor: pointer;-->
<!--          transition: background-color 0.3s ease-out;-->
<!--          display: block;-->
<!--          margin: 20px auto;-->
<!--        }-->

<!--        .btn:hover {-->
<!--          background-color: #0056b3;-->
<!--        }-->
<!--    </style>-->


<!--</head>-->
<!--<body>-->

{% extends 'base.html' %}

{% block content %}


<script src="https://unpkg.com/htmx.org@1.9.10"></script>

<div class="container">
    <div class="row">

        <form id="topic-container" hx-post="{% url 'get-questions' %}/start">
            {% csrf_token %}
            <div class="col-12">




                <div class="card text-center" style="padding:20px; margin:10px;">
                    <div class="card-header">
                        Выбор теста
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>




                <h2 id="heading-text">Выбор теста</h2>
                <div id="topic-list">

                    <p>Выберите тест из списка ниже</p>

                    <ol style="list-style-type: none;">

                        {% for topic in topics %}
                        <li class="option">
                            <input type="radio" id="topic-{{ forloop.counter0 }}" value="{{ topic.id }}" name="quiz_id"
                                   required>
                            <label for="topic-{{ forloop.counter0 }}">{{ topic.name }} ({{ topic.questions_count }}
                                questions)</label>
                        </li>
                        {% endfor %}

                        {% if not topics %}
                        <li>Тесты не найдены!</li>
                        {% endif %}

                    </ol>
                </div>
                <button class="btn btn-dark" type="submit">Начать тест</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!--</body>-->
<!--</html>-->
