{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Ответ на тестовый вопрос</title>
{% endblock %}

{% block content %}

<form hx-post="{% url 'get-questions' %}">
    {% csrf_token %}

    <input type="hidden" name="quiz_id" value="{{ answer.question.quiz_id }}">
    <div class="card">
        <div class="card-header">Ваш ответ был принят!</div>

        <div class="card-body">
            <ul>
                <li>
                    <strong>Вопрос:</strong> <em><u>{{ answer.question.text }}</u></em>
                </li>

                <li><strong>Ваш ответ:</strong> <em>{{ submitted_answer.text }}</em></li>

                <li>
                    {% if submitted_answer.is_correct %}
                    Правильно ✅
                    {% else %}
                    Неправильно ❌
                </li>
                <li>
                    <strong>Правильный ответ:</strong>
                    <em>{{ answer.text }}</em>
                </li>
                {% endif %}
            </ul>
        </div>


        <div class="card-footer">
            <button class="btn btn-dark">
                Следующий вопрос
            </button>
        </div>
    </div>
</form>

{% endblock %}