{% extends 'base.html' %}

{% block title %}
<title>Тест завершён</title>
{% endblock %}

{% block content %}

<div class="card">

    <div class="card-header"><h2>Тестирование завершено!</h2></div>

    <div class="card-body">

        <ul>
            <li>
                <strong>Правильных ответов: </strong>
                <em>{{ percent_score }}</em> %
            </li>

            <li>
                <em>{{ score }} правильных ответов </em>
                    из
                    <strong>{{ questions_count }} вопросов</strong>
            </li>
        </ul>

    </div>

    <div class="card-footer">
        <a class="btn btn-primary" href="{% url 'start' %}">
            Выбрать другой тест
        </a>
    </div>


</div>


{% endblock %}